* { font-family: sans-serif; }
body { margin: 0; padding: 0; /*background: #f0f4f5;*/
	background: #f0f4f5 url('../images/polaroid.png'); }
/* remove webkit highlighting from form elements */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* style general html elements */
h2, p { margin: 0 0 10px 0; color: #1189d9; text-align: center; }
h2.logo {
	font-family: "Courier New", Courier, monospace;
}
.pause-page-refresh {
	background: #1189d9;
	color: white;
	cursor: pointer;
	padding: 5px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
h3 { margin: 9px; margin-left: 0; }
.close-modal {
	cursor: pointer;
	background: black;
	border: 2px solid white;
	color: white;
	width: 15px;
	height: 15px;
	float:right;
	margin-top:-20px;
    margin-right:-20px;
    -webkit-border-radius: 50%;
	border-radius: 50%;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}
aside {
	background: white;
	border-right: 1px solid #1189d9;
	bottom: 0;
	left: 0;
	float: left;
	height: 100%;
	padding: 10px;
	top: 0;
	width: 200px;
}
	aside .close {
		clear: both;
		cursor: pointer;
		float: right;
		margin-left: 10px;
		position: relative;
		right: 0;
		top: 0;
	}
	aside .close:hover {
		color: #1189d9;
	}
	aside .add-repo, aside .app-info-show {
		position: relative;
		top: 0;
		right: 0;
		margin-left: 10px;
		float: right;
		cursor: pointer;
	}
	aside .add-repo:hover {
		color: green;
	}
	aside .add-repo i.fa.fa-plus-circle:hover {
		color: green;
	}
	aside .add-repo i.fa.fa-minus-circle:hover {
		color: red;
	}
	aside input[type="text"]#add-repo {
		border: 1px solid black;
		border-top: 1px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 500;
		padding: 5px 0;
		width: 180px;
	}
	.aside-open {
		background: #1189d9;
		-webkit-border-radius: 0 0 10px 0;
		border-radius: 0 0 10px 0;
		color: white;
		cursor: pointer;
		left: 0;
		height: 20px;
		padding: 4px 0 2px 6px;
		top: 0;
		position: absolute;
		width: 20px;
		z-index: 100;
	}
	.aside-open:hover {
		background: black;
	}
	.repo-row a {
		color: black;
		font-size: 10px;
		text-decoration: none;
	}
	.repo-row a:hover { text-decoration: underline; }
	.repo-row i {
		font-size: 12px;
	}
	.repo-row i.fa.fa-minus-circle.remove {
		display: inline-block;
		margin-left: 5px;
		color: red;
		cursor: pointer;
	}
footer { clear:both; display: block; text-align: center; }
#templates { display: none; }

#main-layout-wrap {
	padding: 15px 0 0 0;
}
	/*#main-layout-wrap:before { clear: both; }*/
	.commit-message {
		border: 1px solid #ccc;
		padding: 5px;
		width: 188px;
	}
	.commit-message a {
		text-decoration: none;
		color: inherit;
	}
	.commit-message a:hover {
		text-decoration: underline;
	}
	.commit-message small {
		color: #ccc;
	}
	.recent { color: green; }
	.past-day { color: orange;}

	.individual-repo-wrap {
		background: #fff;
		border: 2px solid #1189d9;
		float: left;
		height: 200px;
		margin: 0 0 10px 10px;
		overflow-x: hidden;
		overflow-y: scroll;
		/* to get it to float: */
		padding-top: 25px;
		width: 200px;
	}
	.individual-repo-wrap:after {
		clear: both;
	}
	.individual-repo-wrap .title {
		background: #1189d9;
		font-weight: bold;
		color: white;
		text-align: center;
		/* to get it to float: */
		position: absolute;
		width: 200px;
		margin-top: -25px;
		padding: 5px 0;
	}
	.individual-repo-wrap .title a {
		text-decoration: none;
		color: white;
	}
	.individual-repo-wrap .title a:hover {
		text-decoration: underline;
	}

/* ==== MEDIA QUERIES ==== */
@media all and (max-width: 40em) {
	#fork-me-banner {
		display: none;
	}
	#help-about-modal-wrapper {
		display: none;
	}
}

/* Modal styles */
#help-about-modal-wrapper {
	width: 100%;
	position: absolute;
	z-index: 100;
	/*height: 400px;*/
}
#help-about-modal {
	margin: 0 auto;
	border: 2px solid #000;
	background: white;
	z-index: 105;
	width: 300px;
	height: 400px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.3);
  box-shadow:         3px 3px 5px 6px rgba(0,0,0,0.3);
}
