* { font-family: sans-serif; }
body { background: #f0f4f5; }
h2, p { color: #1189d9; text-align: center; }
footer { clear:both; }
#templates { display: none; }
.commit-message {
	border: 1px solid #ccc;
	padding: 5px;
	width: 188px;
}
.commit-message a {
	text-decoration: none;
	color: inherit;
}
.commit-message a:hover {
	text-decoration: underline;
}
.recent { color: green; }
.past-day { color: orange;}

.individual-repo-wrap {
	width: 200px;
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 2px solid #1189d9;
	float: left;
	margin: 0 0 10px 10px;
	background: #fff;
}
.individual-repo-wrap:after {
	clear: both;
}