<!DOCTYPE html>
<html lang="en" ng-app="activity-board">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Activity Board</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="style.css"> -->
    </head>
    <body>
      <noscript>
        You should get some javascript!
      </noscript>
      <div ng-include="./js/views/main.html"></div>

      <!-- jquery -->
      <script type="text/javascript" src="angular/angular.js"></script>
      <!-- angular -->
      <script type="text/javascript" src="js/main.js"></script>
      <!-- angular main app -->
      <!-- angular services -->
      <!-- angular controllers -->
    </body>
</html>
