<!DOCTYPE html>
<html lang="en" ng-app="activityBoard">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Activity Board</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style/main.css">
    </head>
    <body>
      <!-- tell people to get with the javascript program -->
      <noscript>You should get some javascript!</noscript>

      <!-- the html from angular ui router -->
      <div ui-view></div>

      <!-- jquery -->
      <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
      <!-- lodash -->
      <script type="text/javascript" src="/lodash/dist/lodash.min.js"></script>
      <!-- angular -->
      <script type="text/javascript" src="/angular/angular.min.js"></script>
      <script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.min.js"></script>
      <!-- set up any custom utility functions -->
      <script type="text/javascript" src="/js/utils.js"></script>
      <!-- angular main app -->
      <script type="text/javascript" src="/js/main.js"></script>
      <script type="text/javascript" src="/js/routes.js"></script>
      <!-- angular services -->
      <script type="text/javascript" src="/js/services/user-settings.js"></script>
      <script type="text/javascript" src="/js/services/initial-repos.js"></script>
      <script type="text/javascript" src="/js/services/repos.js"></script>
      <!-- my angular directives -->
      <script type="text/javascript" src="/js/directives/abc-header.js"></script>
      <script type="text/javascript" src="/js/directives/sidebar.js"></script>
      <script type="text/javascript" src="/js/directives/fork-me.js"></script>
      <script type="text/javascript" src="/js/directives/repo-template.js"></script>
      <!-- angular controllers -->
      <script type="text/javascript" src="/js/controllers/main-controller.js"></script>
      <script type="text/javascript" src="/js/controllers/user-settings-controller.js"></script>
    </body>
</html>
