<!-- help and about modal -->
<div id="help-about-modal-wrapper">
  <div id="help-about-modal" class="shadow" style="display:none;">
    <div class="close-modal shadow">X</div>
    <h3>Help and About ABC</h3>
    Maker: <a href="http://github.com/clamstew" target="_blank">@clamstew</a>
    <br clear="all" />
    <div id="activity-board-gh-activity"></div>
    <br clear="all" />
    <br clear="all" />
    COLOR KEY:<br />
    Green = Past 2 Hours<br />
    Orange = Past Day<br />
    Black = Older
  </div>
</div>