<!-- The main stage to see the commit activity -->
<div id="main-layout-wrap">
  <!-- Aside Opener -->
  <div class="aside-open"><i class="fa fa-arrow-circle-right"></i></div>
  <!-- Main Layout -->
  <h2 class="logo">Always Be Committing</h2>
  <p>Monitor Open Source Github Projects in Real Time <span class="pause-page-refresh"><i class="fa fa-play"></i></span></p>
  <div id="commit-messages-wrap">
    <div repo-template></div>
  </div>
</div>

<!-- The Fork Me Banner -->
<div fork-me-banner></div>

