<!-- The main stage to see the commit activity -->
<div id="main-layout-wrap">
  <!-- Aside Opener -->
  <div class="aside-open"><i class="fa fa-arrow-circle-right"></i></div>
  <!-- Main Layout -->
  <h2 class="logo">Always Be Committing</h2>
  <p>Monitor Open Source Github Projects in Real Time <span class="pause-page-refresh"><i class="fa fa-play"></i></span></p>
  <div id="commit-messages-wrap"></div>
</div>

<!-- The Fork Me Banner -->
<a href="https://github.com/clamstew/activity-board" target="_blank" id="fork-me-banner">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
</a>