<div id="commit-messages-wrap">
  <!-- repeat blue boxes of commits for all repos -->
  <div ng-repeat="repo in repos.repos" class="individual-repo-wrap">
    <!-- repo main blue title -->
    <div class="title"><a ng-href="http://github.com/{{repo.user}}/{{repo.repo}}" target="_blank">/&nbsp;{{repo.repo}}</a></div>

    <!-- repo's list of commit messages -->
    <div class="commit-message {{ commit.recent }}" ng-repeat="commit in repo.commits">
      <!-- link to user profile page -->
      <strong>
        <a ng-href="{{ commit.ghProfileLink }}" target="_blank">
        {{ commit.ghUsername }}</a>:
      </strong>
      <!-- commit message -->
      {{ commit.commit.message }}
      <br />
      <small>{{ commit.date }} | <a ng-href="{{ commit.html_url }}" target="_blank">Link</a></small>
    </div>
  </div>
</div>