<!-- Aside Opener -->
<!-- (hidden when sidebar open) -->
<div class="aside-open" ng-hide="sidebarOpen" ng-click="toggleSidebar()">
  <i class="fa fa-arrow-circle-right"></i>
</div>

<!-- The sidebar html - hidden by default -->
<!-- (hidden by default - closed when aside opener is shown) -->
<aside ng-show="sidebarOpen" ng-style="{'min-height': sidebarHeight() }">

  <div sidebar-nav></div>

  <!-- list of repos -->
  <h3>Repos</h3>

  <!-- input a new repo -->
  <input ng-show="addRepoInputDisplay" type="text" id="add-repo" placeholder='Type "Username/Repo"' ng-model="newRepo" ui-keypress="{13:'addRepo($event, newRepo)'}" />

  <!-- list of repos here with links and remove -->
  <div class="sidebar-repo-wrap" ng-repeat="repo in repos.repos">
    <div class="repo-row">
        <i class="fa fa-github"></i>&nbsp;
        <a ng-href="{{ repo.repoLink }}" target="_blank">
          <strong>{{ repo.user }} / {{ repo.repo }}</strong>
        </a>
        <i class="fa fa-minus-circle remove" ng-click="removeRepo(repo)"></i>
    </div>
  </div>

</aside>