<!-- Aside Opener -->
<!-- (hidden when sidebar open) -->
<div class="aside-open" ng-click="showSidebar()">
  <i class="fa fa-arrow-circle-right"></i>
</div>
<!-- The sidebar html - hidden by default -->
<!-- (hidden by default - closed when aside opener is shown) -->
<aside>
  <div class="close" ng-click="hideSidebar()"><i class="fa fa-arrow-circle-left"></i></div>
  <div class="add-repo"><i class="fa fa-plus-circle"></i></div>
  <div class="app-info-show"><i class="fa fa-info-circle"></i></div>
  <h3>Repos</h3>
  <div class="add-repo-input-wrap tuckedaway">
    <input type="text" id="add-repo" placeholder='Type "Username/Repo"' />
  </div>
</aside>